<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CMI - Análisis de alertas [Práctica 2]</title>
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/material-dashboard-2-builder/v3.0.4/assets/css/nucleo-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/material-dashboard-2-builder/v3.0.4/assets/css/nucleo-svg.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/css/theme.css">
    <link rel="stylesheet" href="../static/assets/css/loopple/loopple.css">

    <style>
    /* Estilos para el contador y la tabla de vulnerabilidades */
    #counter {
        font-size: 18px;
        font-weight: bold;
        color: #FF7F50; /* Color rosa coral */
        margin-bottom: 10px;
    }

    #vulnerabilities-table {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 20px;
        width: 100%;
        overflow-x: auto;
    }

    .table {
        width: 100%;
    }

    .table th {
        text-align: left;
        font-weight: bold;
        background-color: #f9f9f9;
        color: #333;
    }

    .table td {
        vertical-align: middle;
    }

    .text-muted {
        color: #777;
    }
    </style>
</head>

<body class="g-sidenav-show  bg-gray-200">
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 position-absolute bg-gradient-dark loopple-fixed-start" id="sidenav-main">
        <div class="sidebar-add" data-toggle="modal" data-target="#sidebarModal">
            <svg id="Layer_1" class="m-auto" width="20px" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 114 114">
                <rect style="fill:#525f7f;" x="0.5" y="44.5" width="113" height="24" rx="9.94" ry="9.94"></rect>
                <path style="fill:#525f7f;" d="M146.56,85A9.46,9.46,0,0,1,156,94.44v4.11a9.46,9.46,0,0,1-9.44,9.44H53.44A9.46,9.46,0,0,1,44,98.56V94.44A9.46,9.46,0,0,1,53.44,85h93.11m0-1H53.44A10.48,10.48,0,0,0,43,94.44v4.11A10.48,10.48,0,0,0,53.44,109h93.11A10.48,10.48,0,0,0,157,98.56V94.44A10.48,10.48,0,0,0,146.56,84Z" transform="translate(-43 -40)"></path>
                <rect style="fill:#525f7f;" x="45.5" y="0.5" width="24" height="113" rx="9.94" ry="9.94"></rect>
                <path style="fill:#525f7f;" d="M102.56,41A9.46,9.46,0,0,1,112,50.44v93.11a9.46,9.46,0,0,1-9.44,9.44H98.44A9.46,9.46,0,0,1,89,143.56V50.44A9.46,9.46,0,0,1,98.44,41h4.11m0-1H98.44A10.48,10.48,0,0,0,88,50.44v93.11A10.48,10.48,0,0,0,98.44,154h4.11A10.48,10.48,0,0,0,113,143.56V50.44A10.48,10.48,0,0,0,102.56,40Z" transform="translate(-43 -40)"></path>
            </svg>
        </div>
    </aside>
    <div class="main-content position-relative max-height-vh-100 h-100 border-radius-lg" id="panel">
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarTop">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
                        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Dashboard</li>
                    </ol>
                    <h6 class="font-weight-bolder mb-0">CMI - Análisis de alertas</h6>
                </nav>
                <!-- End Navbar -->
                <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                    <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                        <div class="input-group input-group-outline">
                            <label class="form-label">Type here...</label>
                            <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                        </div>
                    </div>
                    <ul class="navbar-nav  justify-content-end">
                        <li class="nav-item d-flex align-items-center">
                            <a href="javascript:;" class="nav-link font-weight-bold px-0 text-body">
                                <i class="fa fa-user me-sm-1" aria-hidden="true"></i>
                                <span class="d-sm-inline d-none">Sign In</span>
                            </a>
                        </li>
                        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                            <a href="javascript:;" class="nav-link p-0 text-body" id="iconNavbarSidenav">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item px-3 d-flex align-items-center">
                            <a href="javascript:;" class="nav-link p-0 text-body">
                                <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown pe-2 d-flex align-items-center">
                            <a href="javascript:;" class="nav-link p-0 text-body" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bell cursor-pointer" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                                <li class="mb-2">
                                    <a class="dropdown-item border-radius-md" href="javascript:;">
                                        <div class="d-flex py-1">
                                            <div class="my-auto">
                                                <img src="../static/assets/img/team-2.jpg" class="avatar avatar-sm  me-3 ">
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="text-sm font-weight-normal mb-1">
                                                    <span class="font-weight-bold">New message</span> from Laur
                                                </h6>
                                                <p class="text-xs text-secondary mb-0">
                                                    <i class="fa fa-clock me-1" aria-hidden="true"></i>
                                                    13 minutes ago
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="mb-2">
                                    <a class="dropdown-item border-radius-md" href="javascript:;">
                                        <div class="d-flex py-1">
                                            <div class="my-auto">
                                                <img src="../static/assets/img/small-logos/logo-spotify.svg" class="avatar avatar-sm bg-gradient-dark  me-3 ">
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="text-sm font-weight-normal mb-1">
                                                    <span class="font-weight-bold">New album</span> by Travis Scott
                                                </h6>
                                                <p class="text-xs text-secondary mb-0">
                                                    <i class="fa fa-clock me-1" aria-hidden="true"></i>
                                                    1 day
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item border-radius-md" href="javascript:;">
                                        <div class="d-flex py-1">
                                            <div class="avatar avatar-sm bg-gradient-secondary  me-3  my-auto">
                                                <svg width="12px" height="12px" viewBox="0 0 43 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                    <title>credit-card</title>
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <g transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                                            <g transform="translate(1716.000000, 291.000000)">
                                                                <g transform="translate(453.000000, 454.000000)">
                                                                    <path class="color-background" d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z" opacity="0.593633743"></path>
                                                                    <path class="color-background" d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z"></path>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="text-sm font-weight-normal mb-1">
                                                    Payment successfully completed
                                                </h6>
                                                <p class="text-xs text-secondary mb-0">
                                                    <i class="fa fa-clock me-1" aria-hidden="true"></i>
                                                    2 days
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid pt-3">
            <div class="row removable">
                <div class="col-lg-6">
                    <h6 class="text-capitalize col-md-12">Top <span id="numIP">{{numIP}}</span> IPs más problemáticas</h6>

                    <table class="table align-items-center ">
                        <tbody>
                          <tr>
                            <td class="w-10">
                              <button type="button" class="btn btn-secondary col-md-12" id="btn-3" onclick="updateIPNumber(3)">Top 3</button>
                            </td>
                            <td class="w-30">
                              <button type="button" class="btn btn-secondary col-md-12" id="btn-10" onclick="updateIPNumber(10)">Top 10</button>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                    <div id="chartIP" class="chart">
                </div>

                <script>
                    var chartDataIP = {{ chartIPJSON | safe }};
                    Plotly.newPlot('chartIP', chartDataIP, {}, {displayModeBar: false});

                    function updateIPNumber(numIP) {
                        var url = '/chart_IP/' + numIP
                        Plotly.d3.json(url, function(error, data) {
                            if (error) console.log(error);
                            Plotly.react('chartIP', data, {}, {displayModeBar:false});
                            document.getElementById('numIP').innerHTML = numIP;
                            });
                    }

                </script>
                </div>
                <div class="col-lg-6">
                    <h6 class="text-capitalize col-md-12">Top <span id="numDevice">{{numDevice}}</span> dispositivos más vulnerables</h6>
                <div id="chartDevices" class="chart">

                </div>
                <script>
                    var chartDataDevices = {{ chartDevicesJSON | safe }};
                    Plotly.newPlot('chartDevices', chartDataDevices, {}, {displayModeBar: false});

                </script>
                </div>
            </div>
            <div class="row removable">
                <div class="col-lg-4">
                   <h6 class="text-capitalize col-md-12">Top <span id="numPeligrosos">{{numPeligrosos}}</span> dispositivos más peligrosos</h6>
                <div id="chartDangerous" class="chart"></div>
                <script>
                    var chartDangerousDevices = {{chartDangerousJSON | safe}};
                    Plotly.newPlot('chartDangerous', chartDangerousDevices, {}, {displayModeBar:false})
                </script>
                </div>
                <div class="col-lg-8">
                    <h6 class="text-capitalize col-md-12">Últimas 10 vulnerabilidades - CVE Search</h6>
                    <p class="text-muted">Última actualización: {{ last_updated_cve }}</p>
                    <p class="text-muted">{{ counter }}</p>
                    <div id="vulnerabilities-table"></div>
                    <div class="table-responsive">
                        <table class="table">

                            <tbody>
                              {% for vulnerability in vulnerabilities_table %}
                              <tr>
                                <td>{{ vulnerability['CVE ID'] }}</td>
                                <td>{{ vulnerability['Fecha de publicación'] }}</td>
                                <td>{{ vulnerability['Resumen'] }}</td>
                              </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <script>
                        function updateCounter() {
                        fetch('/get_counter')
                            .then(response => response.text())
                            .then(counter => {document.getElementById('counter').textContent = counter;
                            });
                        }
                        function updateVulnerabilitiesTable() {
                        fetch('/get_vulnerabilities_table')
                          .then((response) => response.text())
                          .then((html) => {
                            document.getElementById('vulnerabilities-table').innerHTML = html;
                          });
                        }
                        updateVulnerabilitiesTable();
                        updateCounter()
                        setInterval(updateVulnerabilitiesTable, 1000);
                    </script>
                </div>
            </div>
            <div class="row removable">
                <div class="col-lg-4">
                <div id="temporal-evolution">
                    <canvas id="chartTemporalEvolution"></canvas>
                </div>

                <script>
                    function loadChartTemporalEvolution() {
                        fetch('/chartTemporalEvolution')
                            .then(response => response.json())
                            .then(chartJSON => {
                                var chartData = JSON.parse(chartJSON)
                                var ctx = document.getElementById('chartTemporalEvolution').getContext('2d')
                                new Chart(ctx, {
                                    type: 'line',
                                    data: chartData,
                                    options: {
                                        responsive: true, // Hace que el gráfico se adapte al tamaño del contenedor
                                        scales: {
                                            x: {
                                                type: 'time', // Utiliza escalas de tiempo en el eje x
                                                time: {
                                                    unit: 'day', // Muestra los datos en unidades diarias
                                                    displayFormats: {
                                                        day: 'MMM D' // Formato de visualización de las fechas (ejemplo: "Feb 15")
                                                    }
                                                },
                                                title: {
                                                    display: true,
                                                    text: 'Fecha' // Título del eje x
                                                }
                                            },
                                            y: {
                                                title: {
                                                    display: true,
                                                    text: 'Cantidad de Alertas' // Título del eje y
                                                }
                                            }
                                        },
                                        plugins: {
                                            legend: {
                                                display: true, // Muestra la leyenda del gráfico
                                                position: 'top', // Posición de la leyenda (ejemplo: 'top', 'bottom', 'right', 'left')
                                            },
                                            title: {
                                                display: true,
                                                text: 'Evolución Temporal de Alertas' // Título del gráfico
                                            }
                                        }
                                    }
                                });

                        });
                    }
                    loadChartTemporalEvolution()
                </script>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4"></div>
            </div>
        </div>
        <footer class="footer pt-3 pb-4">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-lg-between">

                </div>
            </div>
        </footer>
    </div>
    <!--   Core JS Files   -->
    <script src="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/material-dashboard-2-builder/v3.0.4/assets/js/core/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/material-dashboard-2-builder/v3.0.4/assets/js/core/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/material-dashboard-2-builder/v3.0.4/assets/js/plugins/chartjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/material-dashboard-2-builder/v3.0.4/assets/js/material-dashboard.min.js"></script>
    <script>
            document.addEventListener("DOMContentLoaded", function(event) {
            if(document.querySelector('.chart-pie')){
            var ctx = document.querySelectorAll(".chart-pie");
              ctx.forEach(function(ctx) {
                new Chart(ctx, {
                 type: "pie",
                  data: {
                    labels: ['Facebook', 'Direct', 'Organic', 'Referral'],
                    datasets: [{
                      label: "Projects",
                      weight: 9,
                      cutout: 0,
                      tension: 0.9,
                      pointRadius: 2,
                      borderWidth: 1,
                      backgroundColor: ['#17c1e8', '#e91e63', '#3A416F', '#a8b8d8'],
                      data: [15, 20, 12, 60],
                      fill: false
                    }],
                  },
                  options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                      legend: {
                        display: false,
                      }
                    },
                    interaction: {
                      intersect: false,
                      mode: 'index',
                    },
                    scales: {
                      y: {
                        grid: {
                          drawBorder: false,
                          display: false,
                          drawOnChartArea: false,
                          drawTicks: false,
                          color: '#c1c4ce5c'
                        },
                        ticks: {
                          display: false
                        }
                      },
                      x: {
                        grid: {
                          drawBorder: false,
                          display: false,
                          drawOnChartArea: false,
                          drawTicks: false,
                          color: '#c1c4ce5c'
                        },
                        ticks: {
                          display: false,
                        }
                      },
                    },
                  },
                });
              });
            }


            if(document.querySelector('.chart-line')){
            var ctx = document.querySelectorAll(".chart-line");
              ctx.forEach(function(ctx) {
                new Chart(ctx, {
                  type: "line",
                  data: {
                    labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    datasets: [{
                        label: "Facebook Ads",
                        tension: 0,
                        pointRadius: 5,
                        pointBackgroundColor: "#e91e63",
                        pointBorderColor: "transparent",
                        borderColor: "#e91e63",
                        borderWidth: 4,
                        backgroundColor: "transparent",
                        fill: true,
                        data: [50, 100, 200, 190, 400, 350, 500, 450, 700],
                        maxBarThickness: 6
                      },
                      {
                        label: "Google Ads",
                        tension: 0,
                        borderWidth: 0,
                        pointRadius: 5,
                        pointBackgroundColor: "#3A416F",
                        pointBorderColor: "transparent",
                        borderColor: "#3A416F",
                        borderWidth: 4,
                        backgroundColor: "transparent",
                        fill: true,
                        data: [10, 30, 40, 120, 150, 220, 280, 250, 280],
                        maxBarThickness: 6
                      }
                    ],
                  },
                  options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                      legend: {
                        display: false,
                      }
                    },
                    interaction: {
                      intersect: false,
                      mode: 'index',
                    },
                    scales: {
                      y: {
                        grid: {
                          drawBorder: false,
                          display: true,
                          drawOnChartArea: true,
                          drawTicks: false,
                          borderDash: [5, 5],
                          color: '#c1c4ce5c'
                        },
                        ticks: {
                          display: true,
                          padding: 10,
                          color: '#9ca2b7',
                          font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                          },
                        }
                      },
                      x: {
                        grid: {
                          drawBorder: false,
                          display: true,
                          drawOnChartArea: true,
                          drawTicks: true,
                          borderDash: [5, 5],
                          color: '#c1c4ce5c'
                        },
                        ticks: {
                          display: true,
                          color: '#9ca2b7',
                          padding: 10,
                          font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                          },
                        }
                      },
                    },
                  },
                });
              })
            }

            if(document.querySelector('.chart-bar')){
            var ctx = document.querySelectorAll(".chart-bar");
              ctx.forEach(function(ctx) {
                new Chart(ctx, {
                  type: "bar",
                  data: {
                    labels: ["M", "T", "W", "T", "F", "S", "S"],
                    datasets: [{
                      label: "Sales",
                      tension: 0.4,
                      borderWidth: 0,
                      borderRadius: 4,
                      borderSkipped: false,
                      backgroundColor: "rgba(255, 255, 255, .8)",
                      data: [50, 20, 10, 22, 50, 10, 40],
                      maxBarThickness: 6
                    }, ],
                  },
                  options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                      legend: {
                        display: false,
                      }
                    },
                    interaction: {
                      intersect: false,
                      mode: 'index',
                    },
                    scales: {
                      y: {
                        grid: {
                          drawBorder: false,
                          display: true,
                          drawOnChartArea: true,
                          drawTicks: false,
                          borderDash: [5, 5],
                          color: 'rgba(255, 255, 255, .2)'
                        },
                        ticks: {
                          suggestedMin: 0,
                          suggestedMax: 500,
                          beginAtZero: true,
                          padding: 10,
                          font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                          },
                          color: "#fff"
                        },
                      },
                      x: {
                        grid: {
                          drawBorder: false,
                          display: true,
                          drawOnChartArea: true,
                          drawTicks: false,
                          borderDash: [5, 5],
                          color: 'rgba(255, 255, 255, .2)'
                        },
                        ticks: {
                          display: true,
                          color: '#f8f9fa',
                          padding: 10,
                          font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                          },
                        }
                      },
                    },
                  },
                });
              })
            }


            if(document.querySelector('.chart-line-card')){
            var ctx = document.querySelectorAll(".chart-line-card");
              ctx.forEach(function(ctx) {
                new Chart(ctx, {
                  type: "line",
                  data: {
                    labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    datasets: [{
                      label: "Mobile apps",
                      tension: 0,
                      borderWidth: 0,
                      pointRadius: 5,
                      pointBackgroundColor: "rgba(255, 255, 255, .8)",
                      pointBorderColor: "transparent",
                      borderColor: "rgba(255, 255, 255, .8)",
                      borderColor: "rgba(255, 255, 255, .8)",
                      borderWidth: 4,
                      backgroundColor: "transparent",
                      fill: true,
                      data: [50, 40, 300, 320, 500, 350, 200, 230, 500],
                      maxBarThickness: 6

                    }],
                  },
                  options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                      legend: {
                        display: false,
                      }
                    },
                    interaction: {
                      intersect: false,
                      mode: 'index',
                    },
                    scales: {
                      y: {
                        grid: {
                          drawBorder: false,
                          display: true,
                          drawOnChartArea: true,
                          drawTicks: false,
                          borderDash: [5, 5],
                          color: 'rgba(255, 255, 255, .2)'
                        },
                        ticks: {
                          display: true,
                          color: '#f8f9fa',
                          padding: 10,
                          font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                          },
                        }
                      },
                      x: {
                        grid: {
                          drawBorder: false,
                          display: false,
                          drawOnChartArea: false,
                          drawTicks: false,
                          borderDash: [5, 5]
                        },
                        ticks: {
                          display: true,
                          color: '#f8f9fa',
                          padding: 10,
                          font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                          },
                        }
                      },
                    },
                  },
                });
              })
            }

            });
        </script>
        <script src="../static/assets/js/loopple/loopple.js"></script>
</body>

</html>