<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CMI - Análisis de alertas [Práctica 2]</title>
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/material-dashboard-2-builder/v3.0.4/assets/css/nucleo-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/material-dashboard-2-builder/v3.0.4/assets/css/nucleo-svg.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/css/theme.css">
    <link rel="stylesheet" href="../static/assets/css/loopple/loopple.css">

    <style>
    /* Estilos para el contador y la tabla de vulnerabilidades */
    #counter {
        font-size: 18px;
        font-weight: bold;
        color: #FF7F50; /* Color rosa coral */
        margin-bottom: 10px;
    }

    #vulnerabilities-table {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 20px;
        width: 100%;
        overflow-x: auto;
    }

    .table {
        width: 100%;
    }

    .table th {
        text-align: left;
        font-weight: bold;
        background-color: #f9f9f9;
        color: #333;
    }

    .table td {
        vertical-align: middle;
        text-align: center;
    }

    .text-muted {
        color: #777;
    }
    </style>
</head>

<body class="g-sidenav-show  bg-gray-200">

    <div class="main-content position-relative max-height-vh-100 h-100 border-radius-lg" id="panel">
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarTop">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
                        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Dashboard</li>
                    </ol>
                    <h6 class="font-weight-bolder mb-0">CMI - Análisis de alertas</h6>
                </nav>
                <!-- End Navbar -->
                <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                    <div class="ms-md-auto pe-md-3 d-flex align-items-center">

                    </div>
                    <ul class="navbar-nav  justify-content-end">
                        <li class="nav-item">
                            <a href="https://github.com/imaneky/Practicas-SI" class="nav-link text-muted" target="_blank">Our GitHub :)</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid pt-3">
            <div class="row removable">
                <div class="col-lg-6">
                    <h6 class="text-capitalize col-md-12">Top <span id="numIP">{{numIP}}</span> IPs más problemáticas</h6>
                    <table class="table align-items-center ">
                        <tbody>
                          <tr>
                            <td class="w-20">
                              <button type="button" class="btn btn-secondary col-md-12" id="btn-3" onclick="updateIPNumber(3)">Top 3</button>
                            </td>
                            <td class="w-20">
                              <button type="button" class="btn btn-secondary col-md-12" id="btn-10" onclick="updateIPNumber(10)">Top 10</button>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                    <div id="chartIP" class="chart">
                </div>
                <script>
                    var chartDataIP = {{ chartIPJSON | safe }};
                    Plotly.newPlot('chartIP', chartDataIP, {}, {displayModeBar: false});

                    function updateIPNumber(numIP) {
                        var url = '/chart_IP/' + numIP
                        Plotly.d3.json(url, function(error, data) {
                            if (error) console.log(error);
                            Plotly.react('chartIP', data, {}, {displayModeBar:false});
                            document.getElementById('numIP').innerHTML = numIP;
                            });
                    }
                </script>
                </div>

                <div class="col-lg-6">
                    <h6 class="text-capitalize col-md-12">Top <span id="numDevice">{{numDevice}}</span> dispositivos más vulnerables</h6>
                    <table class="table align-items-center ">
                        <tbody>
                          <tr>
                            <td class="w-20">
                              <button type="button" class="btn btn-secondary col-md-12" id="btn-03" onclick="updateDeviceNumber(3)">Top 3</button>
                            </td>
                            <td class="w-20">
                              <button type="button" class="btn btn-secondary col-md-12" id="btn-010" onclick="updateDeviceNumber(5)">Top 5</button>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                    <div id="chartDevices" class="chart">
                </div>
                <script>
                    var chartDataDevices = {{ chartDevicesJSON | safe }};
                    Plotly.newPlot('chartDevices', chartDataDevices, {}, {displayModeBar: false});

                    function updateDeviceNumber(numDevice) {
                        var url = '/chartDevices/' + numDevice
                        Plotly.d3.json(url, function(error, data) {
                            if (error) console.log(error);
                            Plotly.react('chartDevices', data, {}, {displayModeBar:false});
                            document.getElementById('numDevice').innerHTML = numDevice;
                            });
                    }
                </script>
                </div>
            </div>

            <div class="row removable">
                <div class="col-lg-12">
                   <h6 class="text-capitalize col-md-12">Top <span id="numPeligrosos">{{numPeligrosos}}</span> dispositivos más peligrosos</h6>
                    <table class="table align-items-center ">
                        <tbody>
                          <tr>
                            <td class="w-15">
                              <button type="button" class="btn btn-secondary col-md-12" id="btn-dangerous" onclick="chooseChart('chartDangerous')">Dispositivos Peligrosos</button>
                            </td>
                            <td class="w-15">
                              <button type="button" class="btn btn-secondary col-md-12" id="btn-secure" onclick="chooseChart('chartSecure')">Dispositivos Seguros</button>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                    <div id="chartDangerous" class="chart"></div>
                    <div id="chartSecure" class="chart"></div>

                <script>
                    var chartDangerousDevices = {{chartDangerousJSON | safe}};
                    var chartSecureDevices = {{chartSecureJSON | safe}};
                    var chartDangerous;
                    var chartSecure;

                    function createChartDangerous() {
                        chartDangerous = Plotly.newPlot('chartDangerous', chartDangerousDevices, {}, {displayModeBar:false});
                    }

                    function createChartSecure() {
                        chartSecure = Plotly.newPlot('chartSecure', chartSecureDevices, {}, {displayModeBar:false});
                        chartSecure.then(function () {
                            chartSecure.restyle({visible: false}); // Ocultar el gráfico de dispositivos seguros inicialmente
                        });
                    }


                    function chooseChart(chartId) {
                        if (chartId === 'chartDangerous') {
                            createChartDangerous()
                            chartDangerous.then(function () {
                                chartDangerous.restyle({visible: true});
                                chartSecure.restyle({visible: false});
                                chartSecure.style.display = 'block';
                            });
                        } else if (chartId === 'chartSecure') {
                            createChartSecure()
                            chartSecure.then(function () {
                                chartSecure.restyle({visible: true});
                                chartDangerous.restyle({visible: false});
                                chartDangerous.style.display = 'block';
                            });
                        }
                    }

                </script>

                </div>

                <div class="col-lg-12">
                    <h6 class="text-capitalize col-md-12">Últimas 10 vulnerabilidades - CVE Search</h6>
                    <p class="text-muted">Última actualización: {{ last_updated_cve }}</p>
                    <p class="text-muted">{{ counter }}</p>
                    <div id="vulnerabilities-table"></div>
                    <div class="table-responsive">
                        <table class="table">

                            <tbody class="text-center">
                              {% for vulnerability in vulnerabilities_table %}
                              <tr>
                                <td class="text-center">{{ vulnerability['CVE ID'] }}</td>
                                <td class="text-center">{{ vulnerability['Fecha de publicación'] }}</td>
                                <td class="text-center">{{ vulnerability['Resumen'] }}</td>
                              </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <script>
                        function updateCounter() {
                        fetch('/get_counter')
                            .then(response => response.text())
                            .then(counter => {document.getElementById('counter').textContent = counter;
                            });
                        }
                        function updateVulnerabilitiesTable() {
                        fetch('/get_vulnerabilities_table')
                          .then((response) => response.text())
                          .then((html) => {
                            document.getElementById('vulnerabilities-table').innerHTML = html;
                          });
                        }
                        updateVulnerabilitiesTable();
                        updateCounter()
                        setInterval(updateVulnerabilitiesTable, 1000);
                    </script>
                </div>
            </div>
            <div class="row removable">
                <div class="col-lg-4">
                <div id="brechasSeguridad">

                </div>
                <script>
                    function obtenerBrechasDeSeguridad() {
                        fetch('/securityBreaches')
                            .then(response => response.json())
                            .then(brechas => {
                                // Actualizar el contenido del div con las brechas de seguridad
                                const divBrechasSeguridad = document.getElementById('brechasSeguridad');
                                divBrechasSeguridad.innerHTML = ''; // Limpiar contenido anterior

                                // Recorrer las brechas y agregarlas al div
                                brechas.forEach(brecha => {
                                    const p = document.createElement('p');
                                    p.textContent = `Brecha: ${brecha.nombre}, Fecha: ${brecha.fecha}`;

                                    divBrechasSeguridad.appendChild(p);
                                });
                            })
                            .catch(error => {
                                console.error('Error al obtener las brechas de seguridad:', error);
                            });
                    }
                    obtenerBrechasDeSeguridad();
                </script>


                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4"></div>
            </div>
            <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                  <a href="https://github.com/imaneky/Practicas-SI" class="nav-link text-muted" target="_blank">Our GitHub :)</a>
                </li>
            </ul>
        </div>
        <footer class="footer pt-3 pb-4">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-lg-between">

                </div>
            </div>
        </footer>
    </div>
    <!--   Core JS Files   -->
    <script src="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/material-dashboard-2-builder/v3.0.4/assets/js/core/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/material-dashboard-2-builder/v3.0.4/assets/js/core/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/material-dashboard-2-builder/v3.0.4/assets/js/plugins/chartjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/material-dashboard-2-builder/v3.0.4/assets/js/material-dashboard.min.js"></script>
    <script>
            document.addEventListener("DOMContentLoaded", function(event) {
            if(document.querySelector('.chart-pie')){
            var ctx = document.querySelectorAll(".chart-pie");
              ctx.forEach(function(ctx) {
                new Chart(ctx, {
                 type: "pie",
                  data: {
                    labels: ['Facebook', 'Direct', 'Organic', 'Referral'],
                    datasets: [{
                      label: "Projects",
                      weight: 9,
                      cutout: 0,
                      tension: 0.9,
                      pointRadius: 2,
                      borderWidth: 1,
                      backgroundColor: ['#17c1e8', '#e91e63', '#3A416F', '#a8b8d8'],
                      data: [15, 20, 12, 60],
                      fill: false
                    }],
                  },
                  options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                      legend: {
                        display: false,
                      }
                    },
                    interaction: {
                      intersect: false,
                      mode: 'index',
                    },
                    scales: {
                      y: {
                        grid: {
                          drawBorder: false,
                          display: false,
                          drawOnChartArea: false,
                          drawTicks: false,
                          color: '#c1c4ce5c'
                        },
                        ticks: {
                          display: false
                        }
                      },
                      x: {
                        grid: {
                          drawBorder: false,
                          display: false,
                          drawOnChartArea: false,
                          drawTicks: false,
                          color: '#c1c4ce5c'
                        },
                        ticks: {
                          display: false,
                        }
                      },
                    },
                  },
                });
              });
            }


            if(document.querySelector('.chart-line')){
            var ctx = document.querySelectorAll(".chart-line");
              ctx.forEach(function(ctx) {
                new Chart(ctx, {
                  type: "line",
                  data: {
                    labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    datasets: [{
                        label: "Facebook Ads",
                        tension: 0,
                        pointRadius: 5,
                        pointBackgroundColor: "#e91e63",
                        pointBorderColor: "transparent",
                        borderColor: "#e91e63",
                        borderWidth: 4,
                        backgroundColor: "transparent",
                        fill: true,
                        data: [50, 100, 200, 190, 400, 350, 500, 450, 700],
                        maxBarThickness: 6
                      },
                      {
                        label: "Google Ads",
                        tension: 0,
                        borderWidth: 0,
                        pointRadius: 5,
                        pointBackgroundColor: "#3A416F",
                        pointBorderColor: "transparent",
                        borderColor: "#3A416F",
                        borderWidth: 4,
                        backgroundColor: "transparent",
                        fill: true,
                        data: [10, 30, 40, 120, 150, 220, 280, 250, 280],
                        maxBarThickness: 6
                      }
                    ],
                  },
                  options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                      legend: {
                        display: false,
                      }
                    },
                    interaction: {
                      intersect: false,
                      mode: 'index',
                    },
                    scales: {
                      y: {
                        grid: {
                          drawBorder: false,
                          display: true,
                          drawOnChartArea: true,
                          drawTicks: false,
                          borderDash: [5, 5],
                          color: '#c1c4ce5c'
                        },
                        ticks: {
                          display: true,
                          padding: 10,
                          color: '#9ca2b7',
                          font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                          },
                        }
                      },
                      x: {
                        grid: {
                          drawBorder: false,
                          display: true,
                          drawOnChartArea: true,
                          drawTicks: true,
                          borderDash: [5, 5],
                          color: '#c1c4ce5c'
                        },
                        ticks: {
                          display: true,
                          color: '#9ca2b7',
                          padding: 10,
                          font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                          },
                        }
                      },
                    },
                  },
                });
              })
            }

            if(document.querySelector('.chart-bar')){
            var ctx = document.querySelectorAll(".chart-bar");
              ctx.forEach(function(ctx) {
                new Chart(ctx, {
                  type: "bar",
                  data: {
                    labels: ["M", "T", "W", "T", "F", "S", "S"],
                    datasets: [{
                      label: "Sales",
                      tension: 0.4,
                      borderWidth: 0,
                      borderRadius: 4,
                      borderSkipped: false,
                      backgroundColor: "rgba(255, 255, 255, .8)",
                      data: [50, 20, 10, 22, 50, 10, 40],
                      maxBarThickness: 6
                    }, ],
                  },
                  options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                      legend: {
                        display: false,
                      }
                    },
                    interaction: {
                      intersect: false,
                      mode: 'index',
                    },
                    scales: {
                      y: {
                        grid: {
                          drawBorder: false,
                          display: true,
                          drawOnChartArea: true,
                          drawTicks: false,
                          borderDash: [5, 5],
                          color: 'rgba(255, 255, 255, .2)'
                        },
                        ticks: {
                          suggestedMin: 0,
                          suggestedMax: 500,
                          beginAtZero: true,
                          padding: 10,
                          font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                          },
                          color: "#fff"
                        },
                      },
                      x: {
                        grid: {
                          drawBorder: false,
                          display: true,
                          drawOnChartArea: true,
                          drawTicks: false,
                          borderDash: [5, 5],
                          color: 'rgba(255, 255, 255, .2)'
                        },
                        ticks: {
                          display: true,
                          color: '#f8f9fa',
                          padding: 10,
                          font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                          },
                        }
                      },
                    },
                  },
                });
              })
            }


            if(document.querySelector('.chart-line-card')){
            var ctx = document.querySelectorAll(".chart-line-card");
              ctx.forEach(function(ctx) {
                new Chart(ctx, {
                  type: "line",
                  data: {
                    labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    datasets: [{
                      label: "Mobile apps",
                      tension: 0,
                      borderWidth: 0,
                      pointRadius: 5,
                      pointBackgroundColor: "rgba(255, 255, 255, .8)",
                      pointBorderColor: "transparent",
                      borderColor: "rgba(255, 255, 255, .8)",
                      borderColor: "rgba(255, 255, 255, .8)",
                      borderWidth: 4,
                      backgroundColor: "transparent",
                      fill: true,
                      data: [50, 40, 300, 320, 500, 350, 200, 230, 500],
                      maxBarThickness: 6

                    }],
                  },
                  options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                      legend: {
                        display: false,
                      }
                    },
                    interaction: {
                      intersect: false,
                      mode: 'index',
                    },
                    scales: {
                      y: {
                        grid: {
                          drawBorder: false,
                          display: true,
                          drawOnChartArea: true,
                          drawTicks: false,
                          borderDash: [5, 5],
                          color: 'rgba(255, 255, 255, .2)'
                        },
                        ticks: {
                          display: true,
                          color: '#f8f9fa',
                          padding: 10,
                          font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                          },
                        }
                      },
                      x: {
                        grid: {
                          drawBorder: false,
                          display: false,
                          drawOnChartArea: false,
                          drawTicks: false,
                          borderDash: [5, 5]
                        },
                        ticks: {
                          display: true,
                          color: '#f8f9fa',
                          padding: 10,
                          font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                          },
                        }
                      },
                    },
                  },
                });
              })
            }

            });
        </script>
        <script src="../static/assets/js/loopple/loopple.js"></script>
</body>

</html>